/* Write your CSS here */
.but-con-active {
  border-bottom: 3px solid #2563eb;
}

.button-con-deactive {
  border-bottom: 3px solid #fff1eb;
}

.button-con {
  background-color: transparent;
  padding: 10px;
}

button {
  min-height: 20px;
  min-width: 40px;
  background-color: transparent;
  font-family: roboto;
  border: none;
  outline: none;
  font-weight: 600;
}

.button-active {
  color: #2563eb;
}
.button-deactive {
  color: #7b8794;
}
