p {
  font-size: 10px;
  font-weight: 700;
}

.item-container {
  list-style: none;
  padding: 14px 5px 5px 5px;
  height: 100px;
  width: 100px;
  margin: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}
.img {
  max-height: 50px;
}

@media (max-width: 600) {
  .item-container {
    width: 50px;
  }
  .img {
    max-height: 30px;
  }
}
